@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    /* Use box sizing to ensure all box-size
    Consistent sizing and padding
    Without border-box, div will have different 
    size even with same pixel size
    */
    box-sizing: border-box;
}

/* Flex box trick */
.full-height-grow {
    display: flex;
    flex-direction: column;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/background.jpg");
    flex-grow: 1;
    background-repeat: no-repeat;
    max-height: 100vh;
    background-size: relative;
    font-family: Poppins, sans-serif;
    /* 1 rem = 16 pixels */
    font-size: 1.2rem;
    color: #ffffff;
    width: 100%;
    /* vh = view height */
    min-height: 100vh;
}


.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: inherit;
    text-decoration: none;
    padding: 1.3rem;
}

.brand-logo-name {
    margin-left: 0.7rem;
}

.brand-logo-name:hover {
    color: #adadad;
}

.main-nav ul, .footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width:100%;
}

.main-nav a, .footer-nav a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover, .footer-nav a:hover {
    color: #adadad;
}

.main-header, .main-footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    height: 140px;    
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.main-footer {
    height: 70px;
    font-weight: bold;
    flex-grow: 1;
    justify-content: space-around;
}

.social-link img {
    width: 1em;
    margin-right: 0.25rem;
}

.container {
    max-width: 1200px;
    /* margin: {top and bottom}, {auto=center on left and right} */
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    color: black;
    padding: 0.75rem 1.5rem;
    background-color: white;
    text-decoration: none;
    border-radius: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    color: #ffffff;
    background-color: black
}

@media (max-width: 700px) {
    .container {
        max-width: 700px;
        padding: 0 15px;
    }

    .btn {
        padding: 0.5rem 1rem; 
        margin-right: 0.4rem;
        font-size: 0.9rem;
    }
    
    .main-nav a {
        font-size: 0.7rem;
    }
    .main-fooååter a {
        font-size: 1rem;
    }

    .brand-logo {
        font-size: 0.7rem;
        padding: 0.1rem;
        size: 0.7rem;
    }
    
    .brand-logo img {
        width: 35px;
        height: 35px;
    }

    .brand-logo-name {
        font-size: 0.7rem;
    }
}